@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body h1 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

.menu-navegacao {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    color: whitesmoke;
}

.menu-navegacao a {
    text-decoration: none;
    color: whitesmoke;
}

.menu-navegacao a:visited {
    color: whitesmoke;
}

.menu-navegacao img {
    width: 40px;
}

.menu-navegacao li {
    display: inline;
    position: relative;
    font-size: 26px;
}

.bruto {
    margin: 3vw 10vw;
    text-indent: 20px;
    text-align: justify;
}

.bruto p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 26px;
}

.bruto h1 {
    text-align: center;
    font-size: 52px;
}

.bruto a {
    text-decoration: none;
    color: green;
}

.bruto a:visited {
    color: green;
}

.bruto abbr {
    text-decoration: none;
}

.titulo {
    background-color: rgb(169, 169, 169, 0.8);
    border-radius: 20px;
    margin: 50px 20vw;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    box-shadow: 0 0 25px black;
}

.titulo h1 {
    margin: 0px;
    text-align: center;
    font-size: 48px;
}

.titulo h2, h3 {
    text-align: left;
    font-size: 30px;
}

.titulo p {
    font-size: 26px;
    text-align: left;
}

.titulo a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 20px whitesmoke;
}

.titulo a:visited {
    color: white;
}

.cursos {
    border-radius: 20px;
    margin: 50px;
    padding: 40px;
    align-items: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.cursos h1 {
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 52px;
}

.cursos p, li {
    font-size: 26px;
}

.sub-cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
}

.sub-cursos h1 {
    font-size: 40px;
}

.listas {
    background-color: rgb(0, 128, 0, 0.8);
    border-radius: 20px;
    margin: 50px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    box-shadow: 0 0 25px green;
    color: whitesmoke;
}

.listas-noticias {
    background-color: rgb(0, 128, 0, 0.8);
    border-radius: 20px;
    margin: 10px 10vw;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    box-shadow: 0 0 25px green;
    color: whitesmoke;
    font-size: 26px;
}

.listas-noticias a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 20px whitesmoke;
}

.listas-noticias a:visited {
    color: white;
}

footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
}

footer p {
    margin: 25px;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 20px whitesmoke;
}

footer a:visited {
    color: white;
}


footer abbr {
    text-decoration: none;
}

/*responsividades gerais*/
@media (max-width: 900px) {
    .sub-cursos {
        flex-direction: column;
        align-items: center;
    }
    .sub-cursos a, a:visited {
        text-wrap: wrap;
        flex-direction: row;
    }
    .carrosel-vai, .carrosel-volta {
        padding: 10vh 1vw;
    }
}

.carrocel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%; 
    max-width: 100vw;
    max-height: 100vh;
}

.carrocel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.mapa {
    padding: 15px;
    margin: 15px;
    background-color: green;
    color: whitesmoke;
    border-radius: 20px;
    text-decoration: none;
}

.mapa:hover {
    background-color: red;
}

.fotos {
    display: none;
}

.fotos img {
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 0.3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1;}
}

.contencao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 20px;
}

.carrosel-vai, .carrosel-volta {
    display: flex;
    position: relative;
    padding: 30vh 1vw;
    min-height: auto;
    max-height: 250px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: auto;
}

.carrosel-vai {
    border-radius: 3px 0 0 3px;
}
.carrosel-volta {
    border-radius: 3px 0 0 3px;
}
.carrosel-vai:hover, .carrosel-volta:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
}

.nomes-carrocel {
    color: #000000;
    font-size: 30px;
    padding: 8px 12px;
    position: relative;
    bottom: -28%;
    width: auto;
    text-align: center;
}

.nomes-carrocel p {
    margin: 0;
    padding: 10px;
    border-radius: 20px;
}
  
.modal {
    display: none; 
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    top: 0;
    position: sticky;
  }

  .modal-content {
    position: relative;
    margin: 5% auto;
    padding: 0px;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
  }

  #modal-body {
    max-height: 500px;
    overflow-y: auto;
  }
  
  iframe {
    width: 100%;
    height: 500px;
    border: none;
  }
  
  .infos-externas {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 0 15px black;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .infos-externas h1 {
    margin-bottom: 50px;
    margin: 5px 7px;
    font-size: 48px;
    text-align: center;
  }

  .noticias {
    display: flex;
    flex-direction: column;
    flex: 4;
  }

  #nova-aba {
    text-decoration: none;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 20px rgb(255, 255, 255);
  }
  

  .legendaMapa {
    flex-direction: column;
    display: flex;
    margin: 0 25% 20px;
    gap: 15px;
  }

  .legendaMapa button {
    border: none;
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 26px;
  }

  .legendaMapa button:hover {
    border: none;
    padding: 20px;
    background-color: rgb(207, 0, 0);
    color: white;
    border-radius: 20px;
  }